################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Sol_Aprendizaje/.vs/Sol_Aprendizaje/FileContentIndex/9a5ddd20-fe88-4078-8907-be7b8468fd04.vsidx
